article>p{
    background-color: dimgray;   
}
article>div>p{ color: rgb(233, 132, 10);}
article+p{color:rgb(250, 250, 6)}
article+p+p{color: cadetblue;}
input:in-range{
    background-color: rgb(153, 235, 32);
}
input:out-of-range{
    background-color: red;
}
input:focus{
    background-color: blanchedalmond;
}
input:required{
    background-color: blue;
}
p:first-of-type{
    background-color: cornflowerblue;
}
p::first-letter{
    font-weight: 1000;
    initial-letter: uppercase;
}
P::first-line{
background-color: burlywood;
}
p::after{
    background-color: aliceblue;
}
P::before{
    background-color: brown;
}
p::selection{
    background-color:#ddd;
}