.body{
    margin: 0;
    font-family:" Arial", sans-serif;
    color: black;
}
#section-1{
    background-color:white;
    height: 600px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}