.slider-paragraph{
    background-color: green;
    padding: 20px;
    color: white;}
    .slider-paragraph{
        padding: 50px;
        margin: 30px;
    width: 1500px;}

    .bg-img{
        background:url(../../../../../Desktop/kahoot.png)}
        .border{ 
            border-width: 2px;
            border-style: solid;
        }